
.sell-sp-main{padding-top:5px}.sell-sp-main .sp-icon{display:inline-block;margin-right:4px;vertical-align:top;width:18px;height:16px;background:url(/wimg/buyer/sprite/seller-serve-icon-v151118.png?t=344124a6_0) no-repeat 0 0}.sell-sp-main .sp-1{background-position:-200px -50px}.sell-sp-main .sp-2{background-position:0 -50px}.sell-sp-main .sp-3{background-position:-50px -50px;margin-top:-1px}.sell-sp-main .sp-4{background-position:-100px -50px}.sell-sp-main .sp-5{background-position:-150px -50px}.sell-sp-main .sp-6{background-position:-250px -50px}